<div class="chat-display">
    {{#each data}}
    <div class="name-date-message">
        <p class="chat-name">{{name}}</p>
        <span class="chat-date">{{date}} </span>
    </div>
    <div class="message"> {{body}}</div>
    {{/each}}
</div>