/*La zona oscura tiene un ancho fijo de 270px. El tama침o horizontal m치ximo debe ser de 1000px. 
Si la pantalla es m치s grande que eso van a centrarlo. 
El tama침o vertical debe ser siempre de 750px (bonus: mirar si se puede adaptar al alto de la pantalla).

* {
    box-sizing: border-box;
  }
body{
    font-family: 'lato','sans';
    font-size: 15px;
    padding: none;
    border: none;
    margin: none;
   
    
}
.container{
    display: flex;   
    padding: none;
    border: 2px solid black;
    margin: none;     
    max-width: 1000px;
     height: 550px;   
     margin: 0 auto;
    
}
.users-wrapper{
    width: 270px;
    height: 100%;
    background-color: #343a40;
    color: gray;
    
}

.main{
    position: relative;
    background-color: #fff;
    width: 730px;
    height: 100%;   
   
}
.chat-header{
    position: relative;   
    display: flex;
    flex-direction:  row-reverse;
    background-color: #aaa;
    height: 5%;
}
.messages{
    position: relative;   
    height: 90%;   
    background-color: #fff;
    overflow-y: auto;
}
.input-messages{
    position: relative;
    bottom: 0;
    background-color: green;
    width: 100%;
    height: 5%;
}

input[type=text]{
    
    width: 80%;
    height: 100%;   
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }



.user{
    display: flex;    
    padding: 5px 5px;
    color: #fff;
    cursor:pointer;
}

.user:hover{
    background-color: #007bff;
}

.user-icon{
    padding-right: 10px; 
}

.connected-true .user-icon {
    color: rgb(77, 218, 77);

}

.dots-icon{
    display: flex;
    justify-content: flex-end;
}
.chat-name{
    margin: 0;
    padding-right: 15px;
    color: #6e6e6e;
    font-weight: bold;
    font-size: 0.9rem;
}
.name-date-message{
    display: flex;
    padding-top: 5px;
    
    align-content: center
}
.chat-date{
    color: #6e6e6e;   
    font-size: 0.8rem;
}
.message{
    padding: 2px 0;
}
.chat-display{
    padding-left: 15px;
}
*/
//////////////////

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
  box-sizing: border-box;
  list-style:none;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 0 auto;
  width: 750px;
  background: #444753;
  border-radius: 5px;
}

.people-list {
  width:260px;
  float: left;
  
  .search {
    padding: 20px;
  }
  
  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }
  
  .fa-search {
    position: relative;
    left: -25px;
  }
  
  ul {
    padding: 20px;
    height: 770px;
 
    
    
    
    li {
      padding-bottom: 20px;
      }
  }
  
  img {
    float: left;
  }
  
  .about {
    float: left;
    margin-top: 8px;
  }
  
  .about {
    padding-left: 8px;
  }
  
  .status {
    color: $gray;
  }
  
}

.chat {
  width: 490px;
  float:left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;  
  color: #434651; 
  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
    
    img {
      float: left;
    }
    
    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }
    
    .chat-num-messages {
      color: $gray;
    }
    
    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }
  
  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
    
    .message-data {
      margin-bottom: 15px;
    }
    
    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }
    
    .message {      
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;
      
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    
    .my-message {
      background: $green;
    }
    
    .other-message {
      background: $blue;
      
      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }
    
  }
  
  .chat-message {
    padding: 30px;
    
    input {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
      
    }
    
    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
      
    }
    
    button {
      float: right;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;
      
      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: $green;
}
  
.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

